.main-menu Button {
  margin-left: 25px;
  width: 90px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#TooltipExample:hover {
  cursor: pointer;
  opacity: 0.5;
}
